<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_PartialMetaTags" />
    <title>OnlineShop</title>
    <partial name="_PartialLinks" />
</head>
<body>

    @RenderBody()

    <partial name="_PartialHeader" />

    <partial name="_PartialScripts" />

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
