<nav class="navbar navbar-expand-lg fixed-top navbar-scroll shadow-0" style="background-color: #ffede7;">
    <div class="container">
        <a class="navbar-brand" href="#">our jewelry</a>
        <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="d-flex justify-content-start align-items-center">
                <i class="fas fa-bars"></i>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">




                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item active">
                        <a class="nav-link px-3 login-user-name" asp-area="Customers" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link px-3 login-user-name" asp-area="Customers" asp-controller="Orders" asp-action="Index">Orders</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link px-3" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link px-3 login-user-name" asp-area="Customers" asp-controller="ShoppingCart" asp-action="Cart">Basket</a>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link px-3 login-user-name">@User.Identity.Name Welcome</a>

                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link px-3" asp-area="Managers" asp-controller="Account" asp-action="Register">Managers Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link px-3" asp-area="" asp-controller="Account" asp-action="Login">Users Login</a>
                    </li>
                }

            </ul>


        </div>
    </div>
</nav>

