<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-scroll">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand">Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a class="nav-link active" asp-area="Customers" asp-controller="Products" asp-action="Index">Products</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-area="Customers" asp-controller="Orders" asp-action="Index">Orders</a></li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" asp-area="Customers" asp-controller="ShoppingCart" asp-action="Cart">Cart</a>
                    </li>
                    <li class="nav-item"><a class="nav-link active" aria-current="page" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a></li>
                    <li class="nav-item active">
                        <a class="nav-link px-3 login-user-name" style="color:red;font-weight:600;">@User.Identity.Name Welcome</a>
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        <a class="nav-link active" asp-area="" asp-controller="Account" asp-action="Login">Users Login</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>