<!DOCTYPE html>
<html>

<head>

    <partial name="MetaTags" />

    <title>
        Online Shop
    </title>
    <partial name="Links" />
</head>

<body>
    <div class="hero_area">

        <partial name="Header" />


        <partial name="Slider" />


    </div>

    @RenderBody()
    <partial name="SavingSection" />

    

    <partial name="GiftSection" />



    <partial name="ContactSection" />


    <partial name="InfoSection" />


    <partial name="Scripts" />
    @RenderSection("Scripts", required: false)

</body>

</html>