@page
@model OnlineShop.Areas.Admin.Pages.DisplayCustomersModel
@{
}




<table class="table table-striped table-dark table-bordered">
    <tr>
        <th>UserName</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>

    </tr>

    @foreach (var customer in Model.Customers)
    {
        <tr>
            <th>@customer.UserName</th>
            <th>@customer.FirstName</th>
            <th>@customer.LastName</th>
            <th>@customer.EmailAddress</th>

        </tr>
    }
</table>