<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <partial name="Links" />
</head>
<body>


   

        <partial name="Header" />
        @RenderBody()

 

    <partial name="Scripts" />
</body>
</html>
